#!/usr/zsh

set -a

CODE_SPACE="$HOME/Code.localized"

# main config path
XDG_CACHE_HOME="$HOME/.cache"
XDG_CONFIG_HOME="$HOME/.config"
XDG_DATA_HOME="$HOME/.local/share"
XDG_STATE_HOME="$HOME/.local/state"

# all
LESSHISTFILE="$XDG_CACHE_HOME"/less/less_history

# go
GOPATH="$XDG_CACHE_HOME/go"
GOPROXY="https://goproxy.cn,https://goproxy.io,direct"

# python
PYTHONSTARTUP="${XDG_CONFIG_HOME}/python/init.py"

# enjson
EJSON_KEYDIR="{{ .storageDir }}/Keys"
ENCRYPTED_DIR="{{ .chezmoi.workingTree }}/encrypted"

# ruby
BUNDLE_PATH=$XDG_CACHE_HOME/bundle

# node
NODE_PATH="/opt/homebrew/lib/node_modules"

# command opts
GRADLE_OPTS="-Duser.home=$HOME/.cache/gradle"
MAVEN_CONFIG="-s $HOME/.config/maven/setting.xml"

set +a
