{{- $encryptedDir := joinPath .chezmoi.workingTree "encrypted" -}}
{{- $customDataDir := joinPath .chezmoi.sourceDir ".custom_data" -}}
encryption = "age"
[age]
  identity = {{ joinPath .chezmoi.cacheDir "chezmoi.age" | quote }}
  recipient = "age1pwu8umlxetey6y5uzamnncg37vfyuuvaglp8q4hdffnyhgamtfgsxkcc9f"

[data] 
  encryptedDir = {{ $encryptedDir | quote }}
  customDataDir = {{ $customDataDir | quote }}

[merge]
  command = "nvim"
  args = ["-d"]

[secret]
  command = "pass"

[scriptEnv]
  PATH = {{ env "PATH" | splitList ":" | concat (list (joinPath $customDataDir "script")) | sortAlpha | uniq | join ":" | quote }}
