{{- $chezmoi_age := joinPath .chezmoi.cacheDir "chezmoi.age" -}}
{{- if stat $chezmoi_age | not -}}
#!/bin/sh
echo "CHEZMOI(secret): age generate"
mkdir -pv "{{ .chezmoi.cacheDir }}"
echo "LS0tLS1CRUdJTiBBR0UgRU5DUllQVEVEIEZJTEUtLS0tLQpZV2RsTFdWdVkzSjVjSFJwYjI0dWIzSm5MM1l4Q2kwK0lITmpjbmx3ZENCWmNYbFFlREpoYjFsNFpDc3hVV0U1CmQxZFJaSEJSSURFNENqbHJUVEZETWxKMGJHNVNiMHRKWlVWTFpETmtiRmxLU3pOQ04wRlFlbGRqVUVvemRTOXcKVmpoVWEyc0tMUzB0SUdoSFFqQXZkbXRDWjJSNkwwRlJSU3ROVTI5S1VrNTFVM0p0UTFGTU4wTldZelJpS3padgpRalF4V1c4S0tOcTRRaG53bkpiM0RmN08vREVXSVN0UFhVOGMyOTJNSU5SS2wydFgxMFNJSU5nQlp5TXZpRFc4CmdBZit3MGpucWdHTlJmSU5vTXpQK0pxYnR3V0lua09pcFRETXA0MEYwaUwySjRoWUtXa1plSnd0MDd1SHpvVXcKRXY2emFDUFRqS3I4SHJRNEpNTGNWRkNVUXBQWi9BS25WZkpORVZ1Q1RwOGdnK291WkplMEQxTXVxNVJaZFJzZgprcll6WjlyM0RDUGZxN2o2STAzMmhHZmJ1ZXk0NDhMMDhhMnRUTWI2NFNJZzR2eDNWbnRmVFBUVjZ2RE9renBYCmxpQTlxb3d4LytRWnNNclVkQlhXb3VVcEc1YXFvZ3JlN3E0QlVRRkFnSTlFSFo0PQotLS0tLUVORCBBR0UgRU5DUllQVEVEIEZJTEUtLS0tLQo=" | base64 -d | chezmoi age decrypt --passphrase --output "{{ $chezmoi_age }}"
{{- end }}
