{{- if lookPath "pkg" -}}
{{- $dict := dict 
  "lua" "lua53"
  "ssh" "openssh" 
  "nvim" "neovim"
  "rclone" "rclone"
-}}
{{- $installings := list "" -}}
{{- range $command, $package :=  $dict }}
{{- $installings = append $installings (lookPath $command | empty | ternary $package "" ) -}}
{{- end }}
{{- $installings = $installings | compact -}}
{{- if $installings | len | lt 0 -}}
#!/bin/sh

echo "CHEZMOI(pkg): install packages"

{{- range $installings }}
pkg install {{ . }}
{{- end }}
{{- end }}
{{- end }}
