{{- if and (lookPath "ej") (stat (joinPath .storageDir "Keys")) -}}
{{- output "sh" "-c" (printf "ssh-keygen -y -f /dev/stdin <<EOF\n%s\nEOF\n" ( output "ej" "codeup_ed25519" | trim )) -}}
{{- end -}}
