#!/usr/bin/env zsh

ZINIT_PATH="${XDG_DATA_HOME}/zinit"
ZINIT_HOME="${ZINIT_PATH}/zinit.git"
[ ! -d $ZINIT_HOME/.git ] && git clone https://github.com/zdharma-continuum/zinit.git "$ZINIT_HOME" --depth=1
[ ! -d $ZINIT_PATH/polaris/bin ] && mkdir -p "$ZINIT_PATH/polaris/bin"
builtin source "${ZINIT_HOME}/zinit.zsh"

functions -c zinit __original_zinit
all_params=()
zinit() {
  local params=($@)
  local index_1=0

  for param in ${params[@]}; do
    if [[ $index_1 = 0 ]] {
      index_1=1

      if [[ "$param" = "default-ice" || "$param" = "snippet" ]] {
        if [[ "${#all_params}" != "0" ]] {
          __original_zinit ${all_params[@]}
          all_params=()
        }
        __original_zinit ${params[@]}

        break
      }

      [[ "${#all_params}" = "0" ]] && all_params=("light-mode" "for")
    }

    if [[ "$param" != "ice" && "$param" != "light" ]] {
      all_params+=("$param")
    }
  done
}

zinit light @NICHOLAS85/z-a-eval
zinit light @zdharma-continuum/zinit-annex-{default-ice,patch-dl,binary-symlink}

zinit default-ice light-mode depth'1' -q

{{- if ne .chezmoi.os "darwin" }}

zinit ice pick"async.zsh" src"pure.zsh"
zinit light sindresorhus/pure
{{- end  }}

zinit ice atinit'export _ZL_DATA=$XDG_CONFIG_HOME/zlua/zlua'
zinit light @skywind3000/z.lua

zinit light @zsh-users/zsh-autosuggestions
zinit light @zdharma-continuum/fast-syntax-highlighting

# setopt 762afacb
zinit ice nocompletions atinit'setopt interactivecomments'
# disable expand ~
zinit ice eval'zstyle -L ":completion:*" completer | sed "s/_expand //"'
# disable recent dirs
zinit ice atinit'zstyle ":autocomplete:recent-dirs" enabled false'
zinit light @marlonrichert/zsh-autocomplete

zinit default-ice light-mode proto'ssh' -q
{{- if eq .chezmoi.os "darwin" }}

zinit ice as'null' lbin'!' make'all' atload'alias q=ql'
zinit light @pmeinhardt/ql

zinit ice from'gh-r' extract'!'
zinit light @4ooc/sdkman-cli

zinit ice lbin'!' nocompile
zinit light @4ooc/envctl

zinit ice lbin'!bin/**/*' nocompile
zinit light @4ooc/scripts

zinit light @4ooc/minal

zinit ice lbin'!bin/*' nocompile
zinit light @4ooc/cola
{{- end }}

if  (( $+commands[termux-host] )) && (( ${$(termux-host)%%.*} ));then
  zinit ice id-as'my-pass' nocompile from'vault.x' lbin'!{pass,gpg_auto_pass,gpg_no_pinentry}'
  zinit light @~/xCloud/pass

  zinit ice make"zinit_build"
  zinit ice id-as'lant' nocompile from'vault.x' lbin'!bin/**'
  zinit light @~/xCloud/lant
fi

zinit default-ice lucid from'gh-r' nocompile light-mode lbin'!' -q

{{- if eqFold .chezmoi.os "darwin" }}

zinit ice atinit'alias cat="bat --plain"'
zinit light @sharkdp/bat

zinit ice extract'!' lbin'!nvim' nocompletions
zinit ice atinit'export EDITOR=nvim;'
zinit light @neovim/neovim

zinit ice extract'!'
zinit ice eval'echo "export LS_COLORS=\"$(./vivid generate molokai)\""'
zinit light @sharkdp/vivid
{{- end }}

zinit light @shopify/ejson

zinit light @dandavison/delta

zinit default-ice -c -q

functions -c __original_zinit zinit
unfunction __original_zinit
unset all_params

local ZSH_COMPLETION="https://raw.githubusercontent.com/zsh-users/zsh-completions/master/src/"
zinit ice as'completion'
zinit snippet $ZSH_COMPLETION/_mvn
zinit ice as'completion'
zinit snippet $ZSH_COMPLETION/_golang

zinit snippet @OMZP::sudo
