# brew hook
__preexec_remember_command() {
  [[ $# -eq 0 ]] && return
  [[ $(echo $1 | wc -l) -gt 1 ]] && return

  __unset_remember_command=$2
}

__precmd_brew_with_bundle() {
  local _precmd_result=$?
  local _precmd=$__unset_remember_command
  unset __unset_remember_command

  if [[ $_precmd != "brew "* ]]; then
    return
  fi

  if [ $_precmd_result -ne 0 ]; then
    return
  fi

  local message=""
  case "$_precmd" in
    *" uninstall "* | *" upgrade "* | *" rm "* | *" install "* | *" reinstall "* | *" tap "* | *" untap "*)
      message="y"
      ;;
    *)
      ;;
  esac

  if [[ -n $message ]]; then
    echo "Begin to dump brew bundle"
    brew bundle dump --file={{ .extraDataDir }}/brewfile --force
  fi
  if (( $+commands[icon] )); then
    icon set
  fi
}

preexec_functions+=(__preexec_remember_command)
precmd_functions+=(__precmd_brew_with_bundle)
