{{- if eq .chezmoi.os "darwin" }}
{{- if lookPath "lant" -}}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>lant.agent</string>
    <key>ProgramArguments</key>
    <array>
      <string>{{ lookPath "lant" }}</string>
    </array>
    <key>RunAtLoad</key>
    <true />
  </dict>
</plist>
{{- end }}
{{- end }}
