[core]
	pager = sed 's/\t/├──┤/g' | delta

[interactive]
	diffFilter = delta

[diff]
	colorMoved = default
[merge]
	conflictstyle = diff3

[delta]
	features = whitespace
	line-numbers = true
	hyperlinks = true
	hyperlinks-file-link-format = idea://open?file={path}&line={line}

[delta "whitespace"]
	tabs = →
	theme = zebra-dark
