{{- /* chezmoi:modify-template */ -}}
{{- $ejPath := joinPath .encryptedDir "codeup_email.ejson" }}
{{- if and (stat $ejPath) (stat (joinPath .storageDir "Keys")) -}}
[user]
  name = xin
  email = "{{- (ejsonDecrypt $ejPath).content | b64dec | trim }}"
  signingKey = ~/.ssh/codeup_ed25519.pub
{{ else }}
{{- .chezmoi.stdin }}
{{- end -}}
